@charset "utf-8";

.content-header {
    margin: 0;
    margin-bottom: 5px;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid #dedede;
}
.content-header, .back {
    background-color: #fff;
    border-radius: 3px;
    border-bottom-width: 2px;
    border: 1px solid #dedede;
}

.content-header:before, .content-header:after {
    content: " ";
    display: table;
    line-height: 0;
}
.content-header .header-text {
    margin: 0;
}
h3, .h3 {
    font-size: 24px;
}
.content-header .small-text {
    margin-top: 10px;
    display: block;
    font-size: 65%;	
    color: #999;
    box-sizing: border-box;
    text-rendering: optimizelegibility;
    font-weight: normal;
    font-size: 18px;
}

.column-login {
	
	width: 50%; 
	height: 380px; 
    text-vertical-align: middle;
	background: #E6E6E6;
	border-right: 1px solid #585858;
	display: table-cell; 
	padding: 50px;

}

.contentMain {
	padding : 20px;
	border: 1px solid #dedede;
    height: 720px;
}

.contentMain-project {
	padding : 20px;
	border: 1px solid #dedede;
    height: 960px;
}

.content-middle {
    margin: 0;
    margin-bottom: 5px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #dedede;
    height: 420px;
}

.content-middle-project {
    margin: 0;
    margin-bottom: 5px;
    padding: 0px;
    box-sizing: border-box;
   
}

.contentMain-join {
	padding : 20px;
	border: 1px solid #dedede;
    height: auto;
}
.content-middle-join {
    margin: 0;
    margin-bottom: 5px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #dedede;
    height: auto;
}

.column-login1 {
	margin-left: 30px;
	padding: 5px;
	text-align:left;
}

.column-login2 {
	padding: 5px;
	text-align:center;
}

.column-idpw{
	text-align: center; 
	vertical-align: middle;
}

.content-footer {
    margin: 0;
    height: 180px;
    vertical-align: middle;
}

.column-footer {
	border-right: 1px solid #585858;

}

/* <a href="/ClientMyCufflink" style="text-decoration: none; !important;"></a> */